@import '../theme/Default.scss';
@import '../theme/Utils.scss';

.section_four{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 5rem 0;
    background: #1c1c1c;
    box-shadow: inset -10px 10px 20px #151515,
            inset 10px -10px 20px #232323;

    & p{
        color: var(--surface-p-dark);
    }
}

.section_four_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    color: aliceblue;
    min-height: 100vh;
    width: 80vw;

    @include isMobile {
        width: 97vw;
        min-height: 100vh;
        flex-direction: column;
        min-height: 250vh;
        flex-wrap: wrap-reverse;

        & h2, h3{
            font-size: var(--title-size-sm);
        }
    }
}

.section_four_content{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: var(--radius);
    > *{
        padding: 2rem;
        box-shadow:  -5px 5px 10px #151515,
        5px -5px 10px #232323;
        border-radius: var(--radius);

        @include isMobile{
            padding: 1rem;
            width: 100%;
        }
    }
}


.section_four_content_up{
    display: flex;
    gap: 1.5rem;
    width: 100%;
    @include isMobile {
        flex-direction: column;
        gap: 1rem;
    }
    

    > :nth-child(1) {
        flex: 8;
        height: 100%;
        display: flex;
        flex-direction: column; 
        justify-content: space-between;

        @include isMobile {
            flex: 1;
        }
    }
    > :nth-child(2) {
      flex: 4;
      height: 100%;
      background-image: url('/images/01.webp');
      background-size: cover;
      background-repeat: no-repeat;   
      background-position: center;

        @include isMobile {
            flex: 1;
        }
    }

    .icons_container{
        display: flex;
        justify-content: flex-end;
        gap: 2rem;

        @include isMobile {
            justify-content: center;
            gap: 1rem;
        }
    }
}
.section_four_content_down{
    display: flex;
    gap: 1.5rem;
    position: relative;
  

    @include isMobile {
        flex-direction: column;
        gap: 1rem;
    }
    > :nth-child(1) {
        flex: 4;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between; 

        & button{
            width: 100%;
        }
        @include isMobile {
            flex: 3;
            order: 2;
        }
    }
    > :nth-child(2) {
        flex: 8;
        height: 100%;
        @include isMobile {
            flex: 9;
            order: 1;

           
        }
    }

    .button_container{
        width: 100%;
    }
}

.section_four_content_down_right_card{
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    @include isMobile {
        flex-direction: column;
        gap: 1rem;

        > :nth-child(3){
            border-right: 1px solid #a0a0a0;
            padding-right: 1rem;
        }
    }

    > * {
        flex: 1;
        & h3{
            margin-bottom: 0.5rem;
        }
    }

    > :nth-child(1), >:nth-child(2){
        border-right: 1px solid #a0a0a0;
        padding-right: 1rem;
    }

    
}


.logo_text_container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.logo_text{ 
    background-color: #1a1919a9;
    backdrop-filter: blur(7px);
    border-radius: var(--radius);
    height: fit-content;
    width: 100%;
    padding: 1rem;
    text-align: center;
    & h1{
        font-size: var(--title-size);
        color:  #fff;
        @include isMobile {
            font-size: var(--title-size-md);
        }
    }

    & h2{
        font-size: var(--title-size-md);
        color:  #fff;
        @include isMobile {
            font-size: var(--title-size-sm);
        }
    }
}

